name: Tests

on:
  push:
    branches:
      - "master"
      - "devel"
      - "main"
    paths:
      - "**.py"
      - "**.yaml"
      - "**.yml"
      - "**.toml"
      - "**/data/**"
      - ".github/constraints.txt"
  pull_request:
    branches:
      - "master"
      - "devel"
      - "main"
    paths:
      - "**.py"
      - "**.yaml"
      - "**.yml"
      - "**.toml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}-${{ github.ref != 'refs/heads/master' || github.sha }}
  cancel-in-progress: true

env:
  DEFAULT_PYTHON: "3.13"

jobs:

  lint:
    runs-on: ubuntu-latest
    if: |
      !contains(github.event.head_commit.message, '[skip_ci]')
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install Python with uv
        run: |
          uv python install ${{ env.DEFAULT_PYTHON }}

      - name: Install the project
        run: uv sync --all-extras --group pre-commit

      - name: Run pre commit checks
        run: |
          pre-commit run -a

  
  typing:
    runs-on: ubuntu-latest
    if: |
      !contains(github.event.head_commit.message, '[skip_ci]')
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install Python with uv
        run: |
          uv python install ${{ env.DEFAULT_PYTHON }}

      - name: Install the project
        run: uv sync --all-extras --group mypy

      - name: Run mypy static type checks
        run: |
          mypy src docs/soruce/conf.py


  docs:
    runs-on: ubuntu-latest
    needs: [lint, typing]
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install Python with uv
        run: |
          uv python install ${{ env.DEFAULT_PYTHON }}

      - name: Install the project
        run: uv sync --all-extras --group docs

      - name: Build documentation
        run: |
          uv run sphinx-build docs/source docs/build

  tests:
    name: "Python ${{ matrix.python-version }} on ${{ matrix.os }}"
    needs: lint
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        python-version: [ '3.10', '3.11', '3.12', '3.13' ]

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install Python with uv
        run: |
          uv python install ${{ matrix.python-version }}

      - name: Install the project
        run: uv sync --all-extras --group test

      - name: Run tests
        run: uv run coverage run --parallel -m pytest

      - name: Upload coverage data
        uses: actions/upload-artifact@v4
        with:
          name: coverage-data-${{ runner.os }}-${{ matrix.python-version }}
          path: ".coverage.*"
          include-hidden-files: true
          if-no-files-found: error

  coverage:
    runs-on: ubuntu-latest
    needs: tests
    steps:

      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install Python with uv
        run: |
          uv python install ${{ env.DEFAULT_PYTHON }}

      - name: Install the project
        run: uv sync --all-extras --group coverage

      - name: Download coverage data
        uses: actions/download-artifact@v4
        with:
          pattern: coverage-data-*
          merge-multiple: true

      - name: Combine coverage data and display human readable report
        run: |
          coverage combine
          coverage report

      - name: Create coverage report
        run: |
          coverage xml

      - name: Upload coverage report
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
